In [ ]:
# Dependencies
import pandas as pd
import requests
from splinter import Browser
import time
from bs4 import BeautifulSoup
import pymongo

In [2]:
# Connect to Mongodb
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [3]:
#Define database and collection
db = client.mars_db
collection = db.marsnews

In [4]:
# URL of page to be scraped
news_url = 'https://mars.nasa.gov/news/'

# Retrieve page into soup
response = requests.get(news_url)
# Create BeautifulSoup object; parse with 'lxml'
soup = BeautifulSoup(response.text, 'lxml')
#print(soup.prettify())

In [5]:
browser = Browser('chrome', headless=False)
news_url = 'https://mars.nasa.gov/news/'
browser.visit(news_url)
time.sleep(1)

In [6]:
html = browser.html
news_soup = BeautifulSoup(html, 'html.parser')

In [7]:
result_t = news_soup.find('div', class_='content_title')
news_title = result_t.next_element.get_text()
result_p = news_soup.find('div', class_='article_teaser_body')
news_p = result_p.get_text()

print(news_title)
print(news_p)

NASA's First Deep-Space CubeSats Say: 'Polo!'
MarCO is a pair of tiny spacecraft that launched with NASA's InSight lander today.

In [8]:
browser = Browser('chrome', headless=False)
image_url  = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(image_url )
time.sleep(1)

In [9]:
html = browser.html
image_soup = BeautifulSoup(html, 'html.parser')

In [10]:
image = image_soup .find('div', class_='carousel_items')
image_url = image.article['style']
url = image_url.split('/s')[-1].split('.')[0]
featured_image_url = 'https://www.jpl.nasa.gov' +'/s'+ url + '.jpg'
print(featured_image_url )

https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA17440-1920x1200.jpg

# Mars Weather

In [11]:
browser = Browser('chrome', headless=False)
weather_url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(weather_url)
time.sleep(1)

In [12]:
html = browser.html
weather_soup = BeautifulSoup(html, 'html.parser')

In [13]:
weather = weather_soup.find('div', class_='js-tweet-text-container')
mars_weather = weather.p.text.lstrip()
print(mars_weather)

Sol 2043 (May 06, 2018), Sunny, high -14C/6F, low -71C/-95F, pressure at 7.36 hPa, daylight 05:22-17:20

# Mars Facts

In [14]:
facts_url = 'http://space-facts.com/mars/'

In [15]:
tables = pd.read_html(facts_url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [16]:
df = tables[0]
df.columns = ['Mars_planet_profile', 'Value']
df

    Mars_planet_profile                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [17]:
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars_planet_profile</th>\n      <th>Value</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [18]:
df.to_html('table.html')

In [21]:
mars_facts=df.to_dict('records')
mars_facts

[{'Mars_planet_profile': 'Equatorial Diameter:', 'Value': '6,792 km'},
 {'Mars_planet_profile': 'Polar Diameter:', 'Value': '6,752 km'},
 {'Mars_planet_profile': 'Mass:', 'Value': '6.42 x 10^23 kg (10.7% Earth)'},
 {'Mars_planet_profile': 'Moons:', 'Value': '2 (Phobos & Deimos)'},
 {'Mars_planet_profile': 'Orbit Distance:',
  'Value': '227,943,824 km (1.52 AU)'},
 {'Mars_planet_profile': 'Orbit Period:', 'Value': '687 days (1.9 years)'},
 {'Mars_planet_profile': 'Surface Temperature:', 'Value': '-153 to 20 °C'},
 {'Mars_planet_profile': 'First Record:', 'Value': '2nd millennium BC'},
 {'Mars_planet_profile': 'Recorded By:', 'Value': 'Egyptian astronomers'}]

In [22]:
Table = []
for i in range(0, len(mars_facts)):
    
    temp = list(mars_facts[i].values())
    Table.append(temp)

print(Table)

[['Equatorial Diameter:', '6,792 km'], ['Polar Diameter:', '6,752 km'], ['Mass:', '6.42 x 10^23 kg (10.7% Earth)'], ['Moons:', '2 (Phobos & Deimos)'], ['Orbit Distance:', '227,943,824 km (1.52 AU)'], ['Orbit Period:', '687 days (1.9 years)'], ['Surface Temperature:', '-153 to 20 °C'], ['First Record:', '2nd millennium BC'], ['Recorded By:', 'Egyptian astronomers']]

In [23]:
for i in Table:
     print (i)

['Equatorial Diameter:', '6,792 km']
['Polar Diameter:', '6,752 km']
['Mass:', '6.42 x 10^23 kg (10.7% Earth)']
['Moons:', '2 (Phobos & Deimos)']
['Orbit Distance:', '227,943,824 km (1.52 AU)']
['Orbit Period:', '687 days (1.9 years)']
['Surface Temperature:', '-153 to 20 °C']
['First Record:', '2nd millennium BC']
['Recorded By:', 'Egyptian astronomers']

# Mars Hemispheres

In [24]:
hemisphere_image_urls = []

browser = Browser('chrome', headless=False)
hemisphere_urls = ['https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced',
       'https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced',
       'https://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_enhanced',
        'https://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_enhanced']
for url in hemisphere_urls:
    browser.visit(url)
    time.sleep(1)
    html = browser.html
    hemisphere_soup = BeautifulSoup(html, 'html.parser')

    dictionary = {}
    hemipshere_title = hemisphere_soup.find('div', class_='content')
    dictionary["title"] = hemipshere_title.h2.text.lstrip()
    
    hemipshere_download=hemisphere_soup.find('div', class_='downloads')
    image=hemipshere_download.find('li')
    dictionary["image_url"] = image.find('a')['href']
    print(dictionary)
    hemisphere_image_urls.append(dictionary)

{'title': 'Cerberus Hemisphere Enhanced', 'image_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'}
{'title': 'Schiaparelli Hemisphere Enhanced', 'image_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'}
{'title': 'Syrtis Major Hemisphere Enhanced', 'image_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'}
{'title': 'Valles Marineris Hemisphere Enhanced', 'image_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}

In [25]:
hemisphere_image_urls=list(hemisphere_image_urls)
hemisphere_image_urls

[{'image_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'image_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'image_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'image_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]

In [26]:
hemisphere_image_urls[0]

{'image_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg',
 'title': 'Cerberus Hemisphere Enhanced'}